/* Global Styles */
html, body {
    height: 100%; /* Ensure the full height of the viewport is covered */
    background-color: #000; /* Set a solid black background color */
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    text-align: center;
    background-image: url('ImageLight.png'); /* Change background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Ensure the background image covers the entire viewport */
    transition: background-color 0.5s ease;
}

h1, h2 {
    color: rgb(255, 255, 255);
    font-family: Chiller, sans-serif; /* Add font family */
    font-size: 10em; /* Increase font size */
}

h1, h2, h3 {
    margin: 10px 0;
    font-family: Chiller, sans-serif; /* Add font family */
}

img,
audio {
    max-width: 100%;
    height: auto;
}

/* Section Styles */
section {
    margin: 20px 0;
    padding: 10px;
    background-color: #333;
    border-radius: 8px;
    color: #fff;
    text-align: left;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Box Styles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Ensure full height of the viewport */
}

.box {
    width: 90%;
    padding: 20px;
    border: 2px solid #ffffff00;
    margin: 10px auto;
    font-family: Chiller, sans-serif; /* Add font family */
    font-size: 2.5em; /* Increase font size */
    border-radius: 8px;
    background-color: #33333300;
    position: relative; /* Ensure the close button is positioned relative to the box */
}

.box:nth-child(even) {
    background-color: #00000000;
}

.left-align {
    text-align: left;
}

/* Media Query for Mobile */
@media only screen and (min-width: 600px) {
    .box {
        width: 45%;
    }
}

/* Additional styles for lamp */
#lamp-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

#lamp-image {
    max-width: 50px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Button Styles */
.box-button {
    margin: 10px; /* Add margin */
    background: none; /* Remove background */
    border: none; /* Remove border */
    color: #fff; /* Set text color */
    cursor: pointer; /* Add cursor pointer */
    font-family: Chiller, sans-serif; /* Add font family */
    transition: margin 0.3s ease; /* Add transition effect for margin change */
    font-size: 2.5em; /* Increase font size */
}

.box-button.absolute {
    position: absolute; /* Position the button absolutely */
    top: 10px; /* Adjust top position */
    right: 10px; /* Adjust right position */
}

.box-button:hover {
    color: rgb(255, 0, 0); /* Change text color on hover */
}
